*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-thumb {
    /* border-radius: 12px; */
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 8px 8px 0 rgba(156, 156, 156, 0.6) inset;
}

*::-webkit-scrollbar-thumb:hover {
    box-shadow: 8px 8px 0 rgba(156, 156, 156, 1) inset;
}
